pkgbase = neomutt-git
	pkgdesc = The New Mutt: powerful text-based mail client with all the best feature patches
	pkgver = neomutt.20171215.r0.gae612851
	pkgrel = 1
	url = http://www.neomutt.org/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = gnupg
	makedepends = libxslt
	depends = openssl
	depends = gdbm
	depends = mailcap
	depends = libsasl
	depends = gnupg
	depends = gpgme
	depends = libidn
	depends = krb5
	depends = notmuch-runtime
	optdepends = urlview: for url menu
	provides = neomutt
	conflicts = neomutt
	source = git+https://github.com/neomutt/neomutt.git#branch=master
	sha256sums = SKIP

pkgname = neomutt-git

